<link rel="stylesheet" href="/css/dashboard.css" />
<%- include("./partials/nav.ejs") %>
<div class="row main-row">
  <%- include("./partials/sidebar.ejs",{active:1}) %>
  <div class="main-area">
    <div class="heading">
      <h1 class="z-depth-1">Your StyleSheets</h1>
      <hr />
    </div>
    <div class="input-box row">
      <div class="input-field col s9">
        <i class="material-icons prefix">search</i>
        <input type="text" id="search-sheets" />
        <label for="search-sheets" class="">Search Sheets</label>
      </div>
      <div class="col s3 btn-box">
        <button class="btn waves-effect waves-light" id="search-btn">
          Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col s12 sheet-area">
        <% sheets.forEach(sheet => { %>
        <div class="card-panel sheet-card grey lighten-2 z-depth-1 hoverable">
          <h1 class="card-title valign-wrapper">
            <%= sheet.filename %>
          </h1>
          <span class="">
            <div class="sheet-card-btns">
              <a
                href="/sheet/edit/<%= sheet._id %>"
                class="btn waves-effect waves-light edit z-depth-4"
              >
                Edit
                <i class="material-icons right">edit</i>
              </a>
              <a
                href="/sheet/edit/<%= sheet._id %>"
                class="btn waves-effect waves-light download green z-depth-4"
              >
                Download
                <i class="material-icons right">get_app</i> </a
              ><a
                href="/sheet/delete/<%= sheet._id %>"
                class="btn waves-effect waves-light delete z-depth-4"
              >
                Delete
                <i class="material-icons right">delete</i>
              </a>
            </div>
          </span>
        </div>
        <% }) %>
        <div
          class="card-panel sheet-card grey lighten-2 center-align z-depth-1 hoverable"
        >
          <h1 class="card-title valign-wrapper">
            Create New
          </h1>
          <a
            href="/sheet/new"
            class="btn-floating btn-large waves-effect waves-light red"
            ><i class="material-icons large">add</i></a
          >
        </div>
      </div>
    </div>
  </div>
  <%- include("./partials/right-side-bar.ejs") %>
</div>
<script src="/js/main.js"></script>
