<link rel="stylesheet" href="/css/dashboard.css" />
<%- include("./partials/nav.ejs") %>
<div class="row main-row">
  <%- include("./partials/sidebar.ejs",{active:1}) %>
  <div class="main-area">
    <div class="heading">
      <h1 class="z-depth-1">Your StyleSheets</h1>
      <hr />
    </div>
    <div class="input-box">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" id="charinput" />
        <label for="charinput" class="">Search Sheets</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 sheet-area">
        <% sheets.forEach(sheet => { %>
        <div class="card-panel sheet-card grey lighten-2 z-depth-1 hoverable">
          <h1 class="card-title valign-wrapper">
            <%= sheet.filename %>
          </h1>
          <div class="sheet-card-btns">
            <a
              href="/sheet/edit/<%= sheet._id %>"
              class="btn-floating waves-effect waves-light darken-4 edit"
              ><i class="material-icons">edit</i></a
            ><a
              href="/sheet/delete/<%= sheet._id %>"
              class="btn-floating waves-effect waves-light grey darken-4 delete"
              ><i class="material-icons">delete</i></a
            >
          </div>
          <span class=""
            >I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively. I am similar to what is called a panel in other
            frameworks.
          </span>
        </div>
        <% }) %>
        <div
          class="card-panel sheet-card grey lighten-2 center-align z-depth-1 hoverable"
        >
          <h1 class="card-title valign-wrapper">
            Create New
          </h1>
          <a
            href="/sheet/new"
            class="btn-floating btn-large waves-effect waves-light red"
            ><i class="material-icons large">add</i></a
          >
        </div>
      </div>
    </div>
  </div>
  <%- include("./partials/right-side-bar.ejs") %>
</div>
